@font-face{
    font-family: 'Lato';
    src: url('../font/lato-medium-webfont.woff') format('woff'),
    url('../font/lato-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Lato';
    src: url('../font/lato-mediumitalic-webfont.woff') format('woff'),
    url('../font/lato-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}    
@font-face{
    font-family: 'Lato';
    src: url('../font/lato-heavy-webfont.woff') format('woff'),
    url('../font/lato-heavy-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Lato';
    src: url('../font/lato-heavyitalic-webfont.woff') format('woff'),
    url('../font/lato-heavyitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
    font-family: "Lato";
    background-color: white;   
}

.left_field{
    background-color: white;
    flex: 1;
}
.main{
    /*width: 1440px; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* background-color: rgb(16, 43, 59); */
    flex: 14;
    
}
.right_field{
    background-color: white;
    flex: 1;
}

.main_head {
    min-height: 56px;
    background-color: #ffffff;
}
.main_nav {
    min-height: 62px;
    background-color:#3B1B10;
}
.main_bl {
    display: flex;
    flex-direction: row;
    height: 781px;
    /* background-color: rgb(0, 124, 133);  */
    background: url(..//img/Photos/Main_fon_part_3_max_size.jpg); 
    background-size: cover;
    background-position: right;
}
.left_side {
    height: 781px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    
}
.main_sentence{
    padding-left: 120px;
    flex: 1 1 50%;
    /* background-color: rgba(93, 182, 241, 0.5) */
}
.main_links{
    padding-left: 120px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
    
}
.link_bl_text{
    flex: 1 1 auto;
}
.link_bl{
    box-sizing: border-box;
    margin-bottom: 12px;
    padding: 0px 46px 0px 12px;
    flex: 1 1 88px;
    min-height: 88px;
    background-color: rgba(215, 193, 185, 0.5);
    border-radius: 4px 0 0 4px;
    

}

.right_side{
    height: 781px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    /* background-color: rgba(30, 50, 50, 0.5) */
}
.right_anchor{
    /* background-color: rgba(137, 43, 226, 0.5); */
    height: 131px;
    flex-grow: 1;
    margin-bottom: 30px;
    margin-left: 76px;
    text-align: right;
    
}
.right_amchor_img{
    width: 48px;
    height: 48px;
    padding-right: 120px;
    padding-left: 24px;
    margin-bottom: 30px;
}

.second_bl {
    height: 805px;
    background-color: #AF8373;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    padding: 0 120px;
}

.second_bl_article{
    background-color: #AF8373;
    /* flex: 1 1 auto; */
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}.second_bl_article h2{
    /* padding-left: 120px; */
}
.link_text{
    display: flex;
    flex-direction: row;
    align-content: baseline;
}
.link_text img{
    height: 24px;
    width: 24px;

}
.second_bl_cards{
    /* background-color: rgba(43, 168, 226, 0.5); */
    /* flex: 7 1 auto; */
    height: 705px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: space-between; */
}
.cards_row_1, .cards_row_2{
    flex: 1 1 50%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main_card {
    /* width: 384px;
    height: 312px; */
    flex: 1 1 30%;
    margin: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
.cards_row_1 .main_card{
    margin-top: 0px;
}

.main_card img{
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-top: 20px;
}
/* .cards_row_1:first-child .main_card, .cards_row_2:first-child .main_card{
    margin-left: 0px;
}
.cards_row_1:last-child .main_card, .cards_row_1:last-child .main_card{
    margin-right: 0px; */
}
#card_1{
    
    /* left: 120px;
    top: 99px; */
    margin-left: 0px;
}
#card_2{
    /* left: 528px;
    top: 99px; */
}
#card_3{
    /* left: 936px;
    top: 99px; */
    margin-right: 0px;
}
#card_4{
    margin-left: 0px;
    /* left: 120px;
    top: 436px; */
}
#card_5{
    /* left: 528px;
    top: 436px; */
}
#card_6{
    /* left: 936px;
    top: 436px; */
    margin-right: 0px;
}

.footer {
    background-color:#3B1B10;
    height: 88px;
}