body{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: auto;   

}
.left_field{
    background-color: #AF8373;
    flex: 1
}
.main{
    /*width: 1440px; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgb(16, 43, 59);
    flex: 14
}
.right_field{
    background-color: #AF8373;
    flex: 1;
}

.main_head {
    /* display: block;
    position: inherit; */
    /*border: none;
    margin: 0; */
    /* width: 1440px;*/
    /* left: 0px;
    top: 0px;  */
    min-height: 56px;
    background-color: #ff00dd;
}
.main_nav { /*вторая строка навигации */
    /* position: inherit;
    display: block; */
    
    /* left: 0px;
    top: 56px; */
    /* width: 1440px;*/
    height: 62px;
    background-color:#3B1B10;
}

.main_bl {
    display: flex;
    flex-direction: row;
    height: 781px;
    background-color: rgb(0, 124, 133); 
    background: url(..//img/Photos/Main_fon_part_3_max_size.jpg); 
    background-size: cover;
    background-position: right;
}

.left_side {
    height: 781px;
    flex: 1 1 50%;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
}
.right_side{
    height: 781px;
    flex: 1 1 50%;
    display: flex;
    background-color: rgba(30, 50, 50, 0.5)
}
/* .main_sentence{
    flex: 1;
    background-color: crimson;
}
.main_links{
    flex: 1;
    background-color: indigo;
} */

.link_bl{
    /* position: inherit; */
    /* width: 510px; */
    height: 88px;
    background-color: darkslateblue;
}
#lk_link{
    /*left: 120px;*/
    top: 460px;
    right: 0px;
}
#guide_link{
    left: 120px;
    top: 564px;
}
#partner_link{
    left: 120px;
    top: 668px;
}

.right_anchor {
    background-color: blueviolet;
    /* position: inherit; */
    /* width: 690px;
    height: 296px;
    left: 630px;
    top: 460px; */
}

.second_bl {
    /* position: absolute;
    width: 1440px;
    
    left: 0px;
    top: 899px; */
    height: 805px;
    background-color: gold;
}
.main_card {
    position: inherit;
    width: 384px;
    height: 312px;
    background-color: firebrick;
}
#card_1{
    left: 120px;
    top: 99px;
}
#card_2{
    left: 528px;
    top: 99px;
}
#card_3{
    left: 936px;
    top: 99px;
}
#card_4{
    left: 120px;
    top: 436px;
}
#card_5{
    left: 528px;
    top: 436px;
}
#card_6{
    left: 936px;
    top: 436px;
}
.footer {
    background-color: chartreuse;
    /* position: inherit;
    
    height: 88px;
    left: 0px;
    top: 1704px; */
    width: 1440px;
}
