/*   COMMON STYLES   */

body {
    margin: 0;
    font-size: 14px;
}

button {
    cursor: pointer;
    box-shadow: none;
    outline: none;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 3px;
}
button:hover{
    border: 0;
    background-color: darkcyan;
    color: #ffffff;
}
* {
    box-sizing: border-box;
}

h2 {
    font-weight: 700;
    color: #4a4a4a;
    font-size: 30px;
    line-height: 27px;
}

h3 {
    font-weight: 500;
    color: #4A4A4A;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
}

.flex-container {
    display: flex;
}

.container {
    max-width: 1034px;
    margin: 0 auto;
}
.min-container{
    max-width: 430px;
    margin: 0 auto;
}
.pole_button{
    border: 2px solid #ffffffa8;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 18px;
}

/*  END OF COMMON STYLES   */

/*   FONTS   */

.roboto-cond-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-cond-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/*  END OF FONTS  */

/* HEADER */
header{
    text-align: center;
}
.line{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
.line .thin_line{
    width: 100px;
    height: 2px;
    margin: 2px 0;
    background-color: darkcyan;
}
.line .bold_line{
    width: 100px;
    height: 4px;
    background-color: darkcyan;
}

nav{
    justify-content: space-between;
}
/*  END OF HEADER */

/* PRODUCT CARDS */
.tab_content{
    display: grid;
    grid-template-columns: 236px 236px 236px  236px;
    gap: 30px;
    grid-template-rows: 300px 300px;
    margin-top: 70px;
}

.tab_content .grid-item{
    flex-direction: column;
    background-color: rgb(220, 242, 255);
    position: relative;
}
.grid-item .item-photo{
    flex-grow: 1;
}
.grid-item .item-text{
    min-height: 38px;
    font-size: 16px;
    color: #ffffff;
    line-height: 38px;
}

.item-name{
    flex-grow: 1;
    background-color: rgb(43, 43, 43);
    text-align: left;
    padding-left: 10px;
}
.item-price{
    min-width: 45px;
    background-color: rgb(109, 109, 109);
    text-align: center;
}
.grid-item .actions{
    position: absolute;
    justify-content: space-between;
    padding: 6px;
    left: 0;
    top: 0;
    width: 236px;
}
.actions .tab{
    height: 26px;
    padding: 0 3px 0 3px;;
    border: 1px solid #4A4A4A;
    line-height: 26px;
    text-align: center;
}

.invis{
    opacity: 0;
}

.hover-block{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 262px;
    border: 6px solid  rgb(220, 242, 255);
    background-color: rgba(74, 74, 74, 0.466);
    display: grid;
    grid-template-columns: 50px 40px 40px 40px 50px;
    gap: 4px;
    grid-template-rows: 85px 40px 40px 85px;
    opacity: 0;
}
.hover-block:hover{
    opacity: .8;
}
.hover-block .like{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.hover-block .mix{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.hover-block .clock{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.hover-block .add-to-cart{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.add-to-cart span{
    font-size: 10px;
    line-height: 40px;
}
/* END OF PRODUCT CARDS */

