* {
    box-sizing: border-box;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;

}

.body_block{
    height: 600px;
    width: 800px;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}

.flex_container{
    display: flex;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
.white_text{
    color: #ffffff;
}

header .container{
    background-color: #ff6400;
    height: 70px;
    justify-content: space-between;
    padding: 0 15px;
}
.head_right_part, .head_left_part p{
    margin: 3px 0;
}
.headline{
    font-size: 18px;
    padding-top: 5px;
}
.subtitle p{
    margin-right: 10px;
    font-size: 12px;
    color: #FFC55B;
}

.main {
    position: relative;
    overflow-y: auto;
    /* height: 600px; */
    background-color: #A64100;    
    margin: 0 auto;
    
}
.line{
    position: absolute;
    left: 150px;
    /* top: 70px; */
    height: 100%;
    width: 1px;
    background-color: #FFC55B;
}
.whole_message{
    align-items: center;
}
.left_part{
    min-width: 150px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.right_part{
    padding: 3px;
    margin: 0 8px ;
}
/* .line{
    width: 2px;
    background-color: #ff6400;
    height: 100%;
} */
.circle{
    border-radius: 50%;
    background-color: #FFC55B;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    
}
.left_part p{
    font-size: 12px;
    margin-left: 3px;
}
.circle p{
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin: 0;
}
.author_nabme{
    margin-block-start: 4px;
    margin-block-end: 2px;
}
.message{
    background-color: #DB5400;
    padding: 5px;
    margin: 10px 0px;
    min-height: 20px;
}
