body{
    display:flex;
    flex-direction: column;
}
.head, .foot{
    height: 10%;
    background-color: darkslategray;
}
main{
    flex: 1;
    display: flex;

}
.article{
    background-color: deepskyblue;
    flex: 1;
    height: 80%;
}
.nav, .aside{
    background-color: dimgray;
    width: 30px;
}
.nav{
    order: -1;
}