body{
    margin: 0 auto;
    font-size: 14px;
}
button{
    cursor: pointer;
    box-shadow: none;
    outline: none;
}
.green-button{
    width: 170px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #A0D334;
    color: white;
}
.green-button:hover{
    background-color: rgba(146, 194, 43, 0.808);
}
* {
    box-sizing: border-box;
}
h2{
    font-weight: 700x;    
    color: #4A4A4A;
    font-size: 30px;
    line-height: 27px;
}
h3{
    color: #4A4A4A;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
}

/*END OF COMMON STYLES*/
/* FONTS*/
.roboto-regular{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
}
.roboto-medium{
    font-family: 'roboto', sans-serif;
    font-weight: 500;
}
.roboto-bold{
    font-family: 'roboto', sans-serif;
    font-weight: 700;
}
.montserrat-semi-bold{
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}
/*END OF FONTS */

.flex-container{
    display: flex;
    
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}
.logo-name{
    font-size: 28px;
    color: #A0D334;

}
header{
    position: fixed;
    height: 55px;
    top: 23px;
    left: 0;
    right: 0;
    z-index: 1;
}
header .container{
    justify-content: space-between;
    align-items: center;
}
header a {
    margin-right: 46px;
    font-size: 14px;
    text-decoration: unset;
    color: white;
}
header a:last-child{
    margin-right: 0;
} 
.header-button{
    color: white;
    height: 55px;
    width: 170px;
    border: 1px solid white;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    background-color: transparent;
}
.header-button:hover{
    background-color: rgba(255, 255, 255, .3);
}

.first_section{
    background-image: none; 
    /* need image */
    height: 900px;
    background: linear-gradient(90deg, #7A39DB99, #6048FF99);
}
.first_section .container{
    height: 100%;
    position: relative;
}
.first_section .about-me{
    position: absolute;
    top: 30%;
    right: 129px;
    color: white;
}
.first_section .small-text{
    font-size: 20px;
    line-height: 26px;
}
.first_section .big-text{
    font-size: 60px;
    margin-top: -8px;
    margin-left: -4px;
    margin-bottom: -8px;

}
.first_section .green-button{
    margin-top: 60px;
}
.my-services .container{
    align-items: center;
}
.my-services .service-cards{
    display: grid;
    grid-template-columns: 338px 338px;
    gap: 30px;
}
.my-services .services-info p{
    line-height: 27px;
    color: #6E6E6E;
    margin-top: 20px;
    margin-bottom: 50px;
}

.my-services .service-card {
    height: 175px;
    box-shadow: 0 0 30px rgba(172, 172, 172, .16);
    padding: 30px;
}
.service-card .service-card-img{
    flex: 0 0 50px;
}
.my-services .service-card-img-and-header{
    align-items: center;
}
.my-services .service-card-img-and-header img{
    flex: 0 0 35px;
    margin-left: 20px;
}
.service-card .service-card-info{
    
}
.service-card img{
    border: 1px solid black;
    width: 35px;
    height: 35px;
    display: inline-block;
}
.service-card-info p{
    color: #6E6E6E;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 0;
}